body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: rgba(215, 227, 252, 1);
    color: rgba(73, 68, 76, 1);
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

p {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(15, 9, 9);
}

h2 {
    font-family: "Pacifico", cursive;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(73, 68, 76, 1);
    text-align: center;
}

#inicio h1 img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

#inicio {
    text-align: center;
    padding: 20px;
}

#form-tarefa {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-tarefa input[type="text"] {
    padding: 8px;
    border: 1px solid rgba(156, 137, 184, 1);
    border-radius: 5px;
    margin: 0 5px;
    width: 250px;
}

#form-tarefa input[type="time"] {
    padding: 8px;
    border: 1px solid rgba(156, 137, 184, 1);
    border-radius: 5px;
    margin: 0 5px;
    width: 100px;
}

#form-tarefa button[type="submit"] {
    padding: 8px 12px;
    background-color: rgba(255, 148, 148, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lista-tarefas {
    list-style: none;
    padding: 0;
}

#lista-tarefas li {
    padding: 10px;
    margin-bottom: 8px;
    background-color: rgba(255, 246, 189, 1);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
    font-size: 10px;
    padding: 12px;
    background-color: rgba(156, 137, 184, 1);
    color: white;
}

#relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

@font-face {
    font-family: 'DSDIGIT';
    src: url('font/DS-DIGIT.TTF') format('truetype');
}

#relogio-digital {
    font-family: 'DSDIGIT', monospace;
    text-align: center;
    font-size: 56px;
    color: rgb(245, 245, 245);
    padding: 8px;
    width: 200px;
    height: 60px;
    border: 2px solid rgb(243, 243, 243);
    background-color: rgba(156, 137, 184, 1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#lista-tarefas-container {
    width: 90%; /* Largura responsiva */
    max-width: 800px; /* Largura máxima */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 246, 189, 1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-height: 300px; /* Altura máxima com barra de rolagem se necessário */
}

#lista-tarefas li span {
    font-size: 16px;
    color: rgba(26, 26, 26, 0.7);

}
/* Estilos gerais para os botões */
#lista-tarefas li button {
    padding: 0 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento entre os botões e o texto da tarefa */
}
.concluida{
    text-decoration: line-through;
    color: rgb(85, 85, 85);
}